.photo-grid {
  width: 100%;
  /* Позиционирование */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0 48px 0 48px;
  display: -ms-grid;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1150px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 960px) {
  .photo-grid {
    padding: 0 24px 0 24px;
    /* Позиционирование */
    gap: 16px;
  }
}

@media screen and (max-width: 520px) {
  .photo-grid {
    padding: 0 16px 0 16px;
    /* Позиционирование */
    gap: 12px;
  }
}
