.main__cover {
  margin-top: 92px;
}

@media screen and (max-width: 960px) {
  .main__cover {
    margin-top: 88px;
  }
}

@media screen and (max-width: 520px) {
  .main__cover {
    margin-top: 64px;
  }
}
