.main {
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  row-gap: 92px;
}

@media screen and (max-width: 960px) {
  .main {
    row-gap: 88px;
  }
}

@media screen and (max-width: 520px) {
  .main {
    row-gap: 64px;
  }
}
