.cover__container {
  padding-bottom: 62.5%;
  /* Позиционирование */
  margin: 0 auto;
  position: relative;
  /* Фон */
  background-image: url(../../../image/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
