.footer__links {
  /* Сброс параметров списка */
  list-style: none;
  padding: 0;
  margin: 0;
  /* Позиционирование */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 18px -webkit-max-content 18px -webkit-max-content 18px -webkit-max-content 18px -webkit-max-content;
  -ms-grid-columns: max-content 18px max-content 18px max-content 18px max-content 18px max-content;
  grid-template-columns: repeat(5, -webkit-max-content);
  grid-template-columns: repeat(5, max-content);
  gap: 32px 18px;
}

@media screen and (max-width: 520px) {
  .footer__links {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
