.footer__copyright {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  /* Параметры текста */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: #FFFFFF;
  /* Анимиция наведения */
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.footer__copyright:hover {
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1;
  }
}
