.cover {
  width: 100%;
  /* Позиционирование */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 48px 0 48px;
}

@media screen and (max-width: 1150px) {
  .cover {
    padding: 0;
  }
}
