@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);

.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  background: #2A2C2F;
}

.header {
  /* Позиционирование */
  margin: 0 48px;
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header__logo {
  width: 176px;
  height: 52px;
}

/* Внимание на margin */
.header__lang-links {
  list-style: none;
  padding: 0;
  /* Внимание на margin */
  margin: 0 0 6px;
  /* Позиционирование */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 18px auto;
  grid-template-columns: auto auto;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px
}

.header__lang-link {
  /* Параметры текста */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  /* Анимиция наведения */
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header__lang-link:hover {
  opacity: 0.8;
}

/* Определиться с декорированием */
.header__lang-link_active {
  /* -webkit-text-decoration-line: underline; */
          /* text-decoration-line: underline; */
  border-bottom: 1px solid #FFFFFF;
}

.lead {
  max-width: 984px;
  /* Позиционирование */
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lead__title {
  max-width: 720px;
  /* Позиционирование */
  margin: 56px auto 0;
  /* Параметры текста */
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  max-width: 640px;
  /* Позиционирование */
  margin: 32px auto 0;
  /* Параметры текста */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.lead__image {
  width: 100%;
  /* Позиционирование */
  margin: 64px auto 0;
}

.lead__caption {
  /* Позиционирование */
  margin: 8px 0 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  /* Параметры текста */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }

  .lead__title {
    margin-top: 48px;
  }

  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 960px) {
  .header {
    /* Позиционирование */
    margin: 0 24px;
  }

  .lead__caption {
    margin-left: 16px;
  }
}

@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 450px;
    /* Параметры текста */
    font-size: 65px;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 450px;
    /* Параметры текста */
    font-size: 26px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 480px) {
  .header {
    /* Позиционирование */
    margin: 0 16px;
    padding-top: 16px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    /* Параметры текста */
    font-size: 18px;
    line-height: 20px;
  }

  .lead__title {
    max-width: 288px;
    /* Параметры текста */
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 288px;
    /* Позиционирование */
    margin-top: 16px;
    /* Параметры текста */
    font-size: 16px;
    line-height: 1.25;
  }

  .lead__image {
    margin-top: 40px;
  }

  .lead__caption {
    margin-left: 16px;
  }
}
