@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);

.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  background: #2A2C2F;
  /* Параметры оптимизации шрифта */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  /* Позиционирование */
  margin: 0 auto;
  padding: 28px 48px 0 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header__logo {
  width: 176px;
  height: 52px;
}

/* Внимание на margin */
.header__lang-links {
  /* Сброс параметров списка */
  list-style: none;
  padding: 0;
  /* Внимание на margin */
  margin: 0 0 6px;
  /* Позиционирование */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 18px auto;
  grid-template-columns: auto auto;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px
}

.header__lang-link {
  /* Параметры текста */
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  /* Анимиция наведения */
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header__lang-link:hover {
  opacity: 0.8;
}

/* Определиться с декорированием */
.header__lang-link_active {
  /* -webkit-text-decoration-line: underline; */
          /* text-decoration-line: underline; */
  border-bottom: 1px solid #FFFFFF;
}

.lead {
  padding: 0 148px 0 148px;
  /* Позиционирование */
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lead__title {
  max-width: 720px;
  /* Позиционирование */
  margin: 56px auto 0;
  /* Параметры текста */
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  max-width: 640px;
  /* Позиционирование */
  margin: 32px auto 0;
  /* Параметры текста */
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.lead__image {
  width: 100%;
  /* Позиционирование */
  margin: 64px auto 0;
}

.lead__caption {
  /* Позиционирование */
  margin: 8px 0 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  /* Параметры текста */
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  padding: 0 148px 0 148px;
  /* Позиционирование */
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.intro__title {
  max-width: 690px;
  /* Позиционирование */
  margin: 92px 0 0;
  /* Параметры текста */
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  max-width: 690px;
  /* Позиционирование */
  margin: 40px 0 0;
  /* Параметры текста */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
}

.intro__list {
  max-width: 690px;
  /* Сброс параметров списка */
  list-style: none;
  padding: 0;
  /* Позиционирование */
  margin: 33px 0 0;
  /* Параметры текста */
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.intro__item {
  margin: 0;
}

.photo-grid {
  padding: 0 48px 0 48px;
  /* Позиционирование */
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__photo-grid {
  margin-top: 92px;
}

.photo-grid__item {
  max-width: 100%;
}

.places {
  padding: 0 148px 0 148px;
  /* Позиционирование */
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 80px;
}

.main__places {
  margin-top: 92px;
}

.place {
  /* Позиционирование */
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  row-gap: 48px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -ms-grid-columns: minmax(0, 460px) 40px minmax(0, 484px);
  grid-template-columns: minmax(0, 460px) minmax(0, 484px);
  grid-template-rows: repeat(auto-fit, auto);
}

.place__title {
  /* Позиционирование */
  margin: 0;
  /* Параметры текста */
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: left;
}

.place__website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.place__url-heading {
  /* Позиционирование */
  margin: 0 0 12px;
  /* Параметры текста */
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* Параметры текста */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  /* Анимиция наведения */
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.place__link:hover {
  opacity: 0.8;
}

.place__image {
  max-width: 100%;
}

.place__paragraph {
  /* Позиционирование */
  margin: 27px 0 0;
  /* Параметры текста */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:first-child {
  margin-top: 0;
}

.cover {
  padding: 0 48px 0 48px;
}

.main__cover {
  margin-top: 92px;
}

.cover__container {
  padding-bottom: 62.5%;
  /* Позиционирование */
  margin: 0 auto;
  position: relative;
  /* Фон */
  background-image: url(../image/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover__text {
  /* Позиционирование */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* Параметры текста */
  color: #FFFFFF;
  text-decoration: none;
}

.cover__title {
  width: 560px;
  /* Позиционирование */
  margin: 0;
  /* Параметры текста */
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
}

.cover__subtitle {
  width: 360px;
  /* Позиционирование */
  margin: 32px 0 0;
  /* Параметры текста */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.cover__overlay {
  width: 100%;
  height: 100%;
  /* Позиционирование */
  position: absolute;
  left: 0;
  top: 0;
  /* Фон */
  opacity: 0.3;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  background: #2A2C2F;
}

.cover__overlay:hover, .cover__text:hover + .cover__overlay {
  opacity: 0.8;
}

.footer {
  padding: 0 48px 24px 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto -webkit-max-content;
  -ms-grid-columns: auto max-content;
  grid-template-columns: auto -webkit-max-content;
  grid-template-columns: auto max-content;
  row-gap: 48px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__footer {
  margin-top: 92px;
}

.footer__links {
  /* Сброс параметров списка */
  list-style: none;
  padding: 0;
  margin: 0;
  /* Позиционирование */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 18px -webkit-max-content 18px -webkit-max-content 18px -webkit-max-content 18px -webkit-max-content;
  -ms-grid-columns: max-content 18px max-content 18px max-content 18px max-content 18px max-content;
  grid-template-columns: repeat(5, -webkit-max-content);
  grid-template-columns: repeat(5, max-content);
  gap: 32px 18px;
}

.footer__link {
  /* Параметры текста */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
  color: #FFFFFF;
  /* Анимиция наведения */
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__copyright {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  /* Параметры текста */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: #FFFFFF;
  /* Анимиция наведения */
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer__copyright:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1150px) {
  .lead {
    padding: 0 48px 0 48px;
  }

  .lead__title {
    margin-top: 48px;
  }

  .lead__image {
    margin-top: 56px;
  }

  .intro {
    padding: 0 48px 0 48px;
  }

  .photo-grid {
    gap: 14px;
  }

  .places {
    padding: 0 48px 0 48px;
  }

  .place {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
    -ms-grid-columns: minmax(0, 440px) 32px minmax(0, 456px);
    grid-template-columns: minmax(0, 440px) minmax(0, 456px);
  }

  .cover {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 960px) {
  .header {
    padding: 28px 24px 0 24px;
  }

  .lead {
    width: 100%;
    padding: 0;
  }

  .lead__caption {
    margin-left: 16px;
  }

  .intro {
    padding: 0 24px 0 24px;
  }

  .intro__title {
    margin-top: 88px;
  }

  .photo-grid {
    padding: 0 24px 0 24px;
    /* Позиционирование */
    gap: 16px;
  }

  .main__photo-grid {
    margin-top: 88px;
  }

  .places {
    padding: 0 24px 0 24px;
    /* Позиционирование */
    gap: 73px;
  }

  .main__places {
    margin-top: 88px;
  }

  .place {
    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
            column-gap: 28px;
    -ms-grid-columns: minmax(0, 340px) 28px minmax(0, 352px);
    grid-template-columns: minmax(0, 340px) minmax(0, 352px);
  }

  .place__title {
  font-size: 42px;
  line-height: 46px;
  }

  .place__paragraph {
    margin-top: 25px;
    font-size: 16px;
  }

  .footer {
    padding: 0 24px 24px 24px;
  }

  .main__footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 700px) {
  .lead__title {
    max-width: 450px;
    /* Параметры текста */
    font-size: 65px;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 450px;
    /* Параметры текста */
    font-size: 26px;
    line-height: 1.25;
  }

  .cover__title {
    width: 500px;
    font-size: 65px;
    line-height: 1.06;
  }

  .footer {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding: 16px 16px 0 16px;
    /* Позиционирование */
    padding-top: 16px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .lead__title {
    max-width: 288px;
    /* Параметры текста */
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 288px;
    /* Позиционирование */
    margin-top: 16px;
    /* Параметры текста */
    font-size: 16px;
    line-height: 1.25;
  }

  .lead__image {
    margin-top: 40px;
  }

  .lead__caption {
    margin-left: 16px;
  }

  .intro {
    padding: 0 16px 0 16px;
  }

  .intro__title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 1.09;
  }

  .photo-grid {
    padding: 0 16px 0 16px;
    /* Позиционирование */
    gap: 12px;
  }

  .main__photo-grid {
    margin-top: 64px;
  }

  .places {
    width: 100%;
    /* Позиционирование */
    padding: 0;
    gap: 50px;
  }

  .main__places {
    margin-top: 64px;
  }

  .place {
    row-gap: 32px;
    -ms-grid-columns: 320px;
    grid-template-columns: 320px;
  }

  .place__title {
    /* Позиционирование */
    margin: 0 16px 0;
    /* Параметры текста */
    font-size: 32px;
    line-height: 35px;
  }

  .place__website {
    margin: 0 16px 0;
  }

  .place__paragraph {
    margin: 25px 16px 0;
    font-size: 16px;
    line-height: 1.63;
  }

  .cover__title {
    width: 240px;
    /* Параметры текста */
    font-size: 32px;
    line-height: 1.09;
  }

  .cover__subtitle {
    width: 260px;
    /* Позиционирование */
    margin-top: 16px;
    /* Параметры текста */
    font-size: 14px;
    line-height: 1.14;
  }

  .footer {
    padding: 0 16px 24px 16px;
  }

  .main__footer {
    margin-top: 64px;
  }

  .footer__links {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .footer__link {
    font-size: 24px;
    line-height: 1;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 1;
  }
}
